*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: #eaeaea;
}

.green {
    background-color: darkgreen;
}

.font_white {
    color: white;
}

.header{
    position: fixed;
    width: 100%;
    top: 0; 
    left: 0;
    padding: 0 20px; 
    z-index: 10; 
}

.nav {
    position: absolute;
    width: 40%; 
    height: 153px; 
    top: 50px;
    right: -100vw;
    z-index: 3;
}

.nav_list{
    display: block;
    text-align: center;
}

.nav_path{
    list-style: none;
}

.nav_btn{
    text-decoration: none;
    height: 50px;
    padding: 0 20px;
    line-height: 50px;
}

.nav_list li {
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.menu_toggle{
    float: right;
    line-height: 50px; 
    font-size: 24px; 
    display: block;
}

.menu_toggle:hover{
    cursor: pointer;
}

.toggle{
    right: 0; 
}

.page_heading{
    height: 50px;
    line-height: 50px; 
    font-size: 24px; 
    font-weight: bold;
    float: left;
}

.events_display{
    position: relative;
    top: 75px; 
    padding: 0 30px;
}

.event_list{
    min-width: 320px; 
    margin: 20px auto;
}

.event_table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: rgba(0, 100, 0, 0.322);
}

.event_id {
    color: black;
    font-weight: bold;
}

.event_table{
    padding: 30px; 
    background: #ffffff;
}

.hide{
    display: none;
}

.event_report{
    position: relative;
    top: 60px; 
    padding: 15px; 
}

.event_report_display {
    background-color: white;
}

.event_report h2{
    font-size: 24px; 
    text-align: center;
}

.event_report p{
    margin: 5px 0 10px 5px; 
}

.report_contact{
    margin-bottom: 10px; 
    text-align: center;
}

.invoice_order_head {
    text-align: center;
}

.order_grouping {
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    border-bottom: 1px solid black;
}

.order_li {
    margin-top: 5px;
}

.grouping_total{
    font-weight: bold;
    font-size: 18px;
    padding: 4px; 
    margin-left: 5px; 
}

.order_totals {
    padding: 10px; 
    margin-left: 8px; 
}

.total_li{
    list-style: none;
    font-size: 18px;
    margin-top: 5px; 
}

.total_border {
    border-bottom: 1px solid black;
}

.order_grand_total {
    font-weight: bold;
    font-size: 24px;
}
/* buttons */
button {
    border: none;
    text-align: center;
    border-radius: 5px; 
    font-weight: bold;
    transition: 0.5s;
    padding: 10px; 
}

button:hover {
    cursor: pointer;
}

.js_put_btn:hover,
.js_update_button:hover,
.post_form_button:hover,
.add_food_button:hover,
.add_bev_button:hover,
.create_button:hover{
    background-color: rgb(1, 182, 1);
    transition: 0.5s;
}

.create_button{
    margin-bottom: 20px;
    width: 175px;
}

.add_food_button,
.add_bev_button {
    height: 35px; 
    margin: 25px auto;
    transition: 0.5s;
}


.post_form_button{
    margin-left: 0;
    margin-right: 5vw;
}

.report_btn,
.post_form_button,
.cancel_post_button{
    width: 80px;
    height: 50px;   
    font-size: 16px;
}

.report_btn {
    margin: 20px 0;
}

.update_order_btn{
    margin-left: 20px; 
}


.js_put_btn,
.cancel_update_btn {
    width: 100px; 
}

.cancel_update_btn,
.js_delete_button,
.cancel_post_button {
    background-color: black;
}

/* forms */
form {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    margin: 30px auto 75px auto;
}

.update_form {
    margin: 0 auto;
}

.form_heading {
    text-align: center;
    font-size: 24px;
    padding: 10px;
}

fieldset {
    border: 0;
    width: 100%;
    padding: 10px; 
    margin-top: 20px; 
}

legend {
    font-weight: bold;
    font-size: 18px; 
    text-align: center;
}

label {
    display: block;
}

input {
    width: 65%;
    height: 24px;
    display: block;
    margin: 10px auto;
}

.added_input {
    border-top: 1px solid lightgray;
    margin-top: 20px; 
    padding-top: 15px;
}

.add_btn_container {
    width: 100%;
}

.update_delete_section { 
    display: flex;
    justify-content: space-evenly;
}

.new_form_container_buttons{
    display: flex;
    justify-content: center;
    margin-top: 20px; 
}

.update_btns {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px; 
    margin-bottom: 20px; 
}

.update_border {
    border-top: 1px solid lightgray;
    padding-top: 15px; 
}

@media only screen and (min-width: 667px) {
    legend {
        text-align: left;
    }

    label{
        margin-top: 15px; 
        margin-bottom: 15px; 
    }

    form span {
        width: 110px; 
        display: inline-block;
        margin-left: 10px; 
    }

    input {
        display: inline-block;
    }
}

@media only screen and (min-width: 900px){
    .header,
    .events_display{
        padding: 0 50px; 
    }

    .nav{
        float: right;
        display: block; 
        top: 0;
        left: 75vw; 
        height: 50px; 
        transition: none;
    }

    .nav_list{
        display: flex;
        margin: 0;
        padding: 0;
    }

    .menu_toggle{
        display: none;
    }

    /*event table*/
    .events_list{
        max-width: 960px; 
        margin: auto;
    }

    .event_table_row{
        max-width: 85vw;
        margin: 15px auto;
    }

    .row_list{
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: left;
    }

    .table_li {
        width: 500px;
        font-size: 18px; 
    }

    .event_report_path {
        width: 300px;
        margin: 0; 
    }

    .new_form_container {
        max-width: 65vw;
        margin-left: auto;
        margin-right: auto;
    }

    .add_bev_button,
    .add_food_button{
        width: 150px; 
        font-size: 15px; 
    }

    .form_heading{ 
        font-size: 30px; 
    }

    .event_report_display { 
        width: 90%;
        margin: 20px auto;
    }

    .report_contact {
        text-align: left;
        margin: 20px 0px 0px 20px; 
        padding: 20px; 
    }

    .report_invoice {
        /* margin-top: 20px; */
        padding: 20px; 
    }

    .report_invoice h2{
        padding: 10px; 
    }

    .invoice_order_head { 
        text-align: left;
        margin: 10px 20px;
        margin-top: 20px;  
        /* border-bottom: 1px solid black; */
    }

    .order_grouping { 
        display: flex;
        align-items: center;
        justify-content: space-around;
        text-align: left;
    }

    .order_li {
        /* margin-right: 20px;  */
        list-style: none;
        width: 200px; 
        text-align: left;
    }

    .item_name { 
        width: 300px; 
        text-align: left;
    }

    .grouping_total {
        width: 87%;
        text-align: right;
        /* font-size: 24px; */
        margin: 0;
        padding: 0;
    }

    .order_totals {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 0;
        margin: 0;
        text-align: left;
    }

    .order_grand_total {
        margin: 10px 0;
    }

    .report_btn {
        width: 200px; 
    }

    /*update form*/
    .update_form{
        max-width: 65vw;
        margin-top: 30px; 
        margin-bottom: 30px; 
    }
    
    .update_field {
        margin-top: 30px;
    }

    /* .update_field input {
        height: 22px; 
        font-size: 15px; 
        padding: 5px; 
    }

    .update_field_gray {
        /* padding: 10px;  */
    } */

    /* .update_field label {
        margin: 10px 0px 5px 20px; 
    }

    .update_legend {
        margin-top: 25px;
        font-size: 20px;
    }

    .update_legend_padding {
        padding-top: 40px; 
    }

    .update_border { 
        padding-top: 10px; 
    } */
}