* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* landing page */

/* landing_container, signup_container {
    display: flex;
} */

/* .login_form, .signup_form {
    display: flex;
} */

body{
    background-color: lightgoldenrodyellow;
    /* background-image: linear-gradient(rgba(2, 42, 129, 0.2), rgba(9, 154, 221, 0.753)); */
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.5)), url(https://cdn.pixabay.com/photo/2018/08/10/21/52/restaurant-3597677_960_720.jpg);
}

.main_header{
    text-align: center;
    color: white;
    margin-top: 30px; 
}

.landing_container{
    height: 100vh;
    width: 100vw;
    /* margin-top: 50px; */
}

.header{
    color: white;
    padding: 20px; 
    width: 100vw;
    background-color: #5BC0EB;
}

.icons_container {
    display: none;
}

.landing_description{
    color: white;
    text-align: center;
    font-size: 7vw;
    padding: 2vh;
    margin-top: 2vh;
}

.landing_p{
    text-align: center;
}

.login_container {
    margin-top: 20px; 
}

.login_form{
}

.login_header{
    visibility: hidden;
}

.login_fields {
    max-width: 500px; 
    display: flex;
    background-color: white;
    margin: 0 auto;
    width: 90vw;
    height: 35vh;
    padding-top: 10px; 
    border-radius: 5px; 
    border: white;
}

.login_error {
    text-align: center;
    font-weight: bold;
    color: red;
    margin: 10px 0;
}

.username_error {
    text-align: center;
    font-size: 16px; 
    color: red;
}

.password_info {
    font-size: 14px; 
    text-align: center;
    font-style: italic;
}

.login_label{
    display: block;
    margin-left: 15vw;
    margin-top: 1vh;
    padding: 1vh 0;
}

.login_input {
    display: block;
    width: 60vw;
    height: 3.5vh;
    margin-left: 15vw;
    background-color: lightyellow;
    padding: 1vh;
}

.login_button, .signup_button{
    width: 60vw;
    height: 4.5vh;
    margin: 3.5vh auto; 
    background-color: green;
    border: green;
    color: white;
}

.register_p {
    display: block; 
    text-align: center;
    margin-top: 3vh;
    color: white;
}

.register_path,
.login_path {
    color: white;
}

/* .signup_container{
    margin: 0 auto;
    width: 90vw;
    padding-top: 10px; 
    border-radius: 5px; 
} */

.singup_fields{
    background-color: white;
    display: flex;
    border: 0;
    height: 50vh;
    margin: 0 auto;
    width: 90vw;
    padding-top: 10px; 
    border-radius: 5px; 
}

@media only screen and (min-width: 668px){
    
}

@media only screen and (min-width: 900px){

    .main_header {
        font-size: 40px; 
        font-weight: bold;
    }

    .page_container{
        display: flex;
        justify-content: space-around;
    }
    .banner{

    }

    .icons_container {
        display: block;
    }

    .icons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .icons_div {
        text-align: center;
        color: white;
        margin-top: 15px; 
    }

    .icons_div p {
        font-size: 24px; 
        margin-bottom: 15px; 
    }

    .landing_description {
        font-size: 30px; 
    }

    .icon2 {
        position: relative;
        left: 145px; 
    }

    .icon3 {
        position: relative;
        right: 145px;
        bottom: 157px; 
    }

    .front_image {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #5BC0EB;
        color: white;
        width: 100px; 
        height: 100px; 
        border-radius: 50%;
        margin: auto;
        box-shadow: -5px 3px 15px 2px rgba(15, 13, 13, 0.623);
    }

    .login_header{
        visibility: visible;
        font-size: 28px; 
        text-align: center;
        position: relative;
        top: 30px; 
        margin-bottom: 15px; 
    }

    .login_fields{
        width: 400px; 
        height: 400px; 
    }

    .signup_container{

    }

    .singup_fields{
        width: 400px; 
        height: 450px; 
        margin-top: 20px; 
    }

    .login_label{
        margin-left: 50px; 
        font-size: 18px; 
        margin-top: 20px; 
    }

    .login_input{
        width: 300px;
        margin-left: 50px; 
        height: 40px; 
        font-size: 16px; 
    }

    .signup_label{
        font-size: 16px; 
        margin-top: 16px; 
    }

    .login_button{
        width: 300px; 
        height: 40px; 
        margin-top: 50px; 
    }

    .signup_button{
        width: 300px; 
        height: 40px; 
        margin-top: 20px;  
    }
}